rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows a new user to create their own user document
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update, delete: if false; // Keep it secure for now
    }

  }
}